@import url('https://fonts.googleapis.com/css?family=Exo+2');

body {
    font-family: 'Exo 2', sans-serif;
    background: url('../images/top.png'), url('../images/backgroundDrain.png');
    background-position: center, center;
    background-position-y: top, 120px;
    background-repeat: no-repeat, no-repeat;
}

html {
    position: relative;
    min-height: 100%;
}

.headerLabelCell
{
    color: #22A9AF;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bold;
    vertical-align: top;
}

#headersTable{
    margin: auto;
}

.panel-footer .btn:hover {
    background-color: #fff !important;
    border: 1px solid #f4511e;
    color: #f4511e;
}

#logo {
    width: 90px;
    height: 90px;
}

td#phoneCell {
    vertical-align: middle;
    text-align: right;
    padding: 0px;
    margin: 0px;
}

.phoneLabel {
    font-weight: bold;
    font-size: 100%;
}

#labelCallWorld {
    color: #f4511e;
    vertical-align: middle;
}

#labelPhone {
    color: #22A9AF;
    vertical-align: middle;
    padding-right: 18px;
}

#labelMapleLeaf {
    color: #f4511e;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

#contentTable {
    margin-top: 460px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 900px;
}

#chapterHeaderCell {
    text-align: left;
    color: #f4511e;
    font-size: 140%;
    font-weight: bolder;
    padding-top: 12px;
    padding-bottom: 12px;
}

.chapterSubHeaderCell {
    text-align: left;
    color: #22A9AF;
    font-weight: bold;
    vertical-align: top;
    width: 130px;
}

.chapterDetailsCell {
    text-align: left;
    padding-bottom: 20px;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #192531;
    text-align: center;
    width: 1025px;
    margin: auto;
  }

  #footerCopyright {
      color: white;
      float: left;
      margin-left: 5px;
      margin-right: 5px;
      font-size: 80%;
  }

.footerLabelRight {
    color: white;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 80%;
    text-decoration:none;
}

.footerIcon {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}