@import url('https://fonts.googleapis.com/css?family=Exo+2');

body {
    font-family: 'Exo 2', sans-serif;
    background: url('../images/top.png') no-repeat;
    background-position: center;
    background-position-y: top;
}

.headerLabelCell
{
    color: #22A9AF;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bold;
    vertical-align: top;
}

#headersTable{
    margin: auto;
}

.panel-footer .btn:hover {
    background-color: #fff !important;
    border: 1px solid #f4511e;
    color: #f4511e;
}

#logo {
    width: 90px;
    height: 90px;
}

td#phoneCell {
    vertical-align: middle;
    text-align: right;
    padding: 0px;
    margin: 0px;
}

.phoneLabel {
    font-weight: bold;
    font-size: 100%;
}

#labelCallWorld {
    color: #f4511e;
    vertical-align: middle;
}

#labelPhone {
    color: #22A9AF;
    vertical-align: middle;
    padding-right: 18px;
}

#labelMapleLeaf {
    color: #f4511e;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}